name: Semantic-release

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [ "master" ]

permissions:
  contents: read # for checkout

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI: true

jobs:
  release:
    runs-on: ubuntu-24.04
    timeout-minutes: 12
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    services:
      mongodb:
        image: mongo:8
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
