name: Semantic-release

on:
  push:
    branches: ["master"]

permissions:
  contents: read # for checkout

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI: true

jobs:
  release:
    name: release
    runs-on: ubuntu-24.04
    timeout-minutes: 12

    services:
      mongodb:
        image: mongo:8
        ports:
          - 27017:27017

    permissions:
     contents: write
     issues: write
     pull-requests: write
     id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: "lts/*"
          registry-url: "https://npm.pkg.github.com/"
          scope: '@github-id'
      - run: npm ci
      - run: npm run build
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
