name: Test Coverage Comment
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types: [opened, reopened, edited, synchronize]
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CI: true

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 12

    services:
      mongodb:
        image: mongo:8
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: |
          npx jest  --detectOpenHandles --forceExit --coverage --coverageReporters json-summary

      - name: Jest Coverage Comment
        id: coverageComment
        uses: MishaKav/jest-coverage-comment@main
        with:
          junitxml-title: Pulse Test Report
          junitxml-path: ./junit.xml
